.covid-theme-l5 {color:#000 !important; background-color:#f0f0f0 !important}
.covid-theme-l4 {color:#000 !important; background-color:#cccccc !important}
.covid-theme-l3 {color:#fff !important; background-color:#999999 !important}
.covid-theme-l2 {color:#fff !important; background-color:#666666 !important}
.covid-theme-l1 {color:#fff !important; background-color:#333333 !important}
.covid-theme-d1 {color:#fff !important; background-color:#000000 !important}
.covid-theme-d2 {color:#fff !important; background-color:#000000 !important}
.covid-theme-d3 {color:#fff !important; background-color:#000000 !important}
.covid-theme-d4 {color:#fff !important; background-color:#000000 !important}
.covid-theme-d5 {color:#fff !important; background-color:#000000 !important}

.covid-theme-light {color:#000 !important; background-color:#f0f0f0 !important}
.covid-theme-dark {color:#fff !important; background-color:#000000 !important}
.covid-theme-action {color:#fff !important; background-color:#000000 !important}

.covid-theme {color:#fff !important; background-color:#000000 !important}
.covid-text-theme {color:#000000 !important}
.covid-border-theme {border-color:#000000 !important}

.covid-hover-theme:hover {color:#fff !important; background-color:#000000 !important}
.covid-hover-text-theme:hover {color:#000000 !important}
.covid-hover-border-theme:hover {border-color:#000000 !important}

.covid-bar-block .covid-dropdown-hover,.covid-bar-block .covid-dropdown-click{width:100%}
.covid-bar-block .covid-dropdown-hover .covid-dropdown-content,.covid-bar-block .covid-dropdown-click .covid-dropdown-content{min-width:100%}
.covid-bar-block .covid-dropdown-hover .covid-button,.covid-bar-block .covid-dropdown-click .covid-button{width:100%;text-align:left;padding:8px 16px}
.covid-main,#main{transition:margin-left .4s}
.covid-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.covid-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.covid-bar{width:100%;overflow:hidden}.covid-center .covid-bar{display:inline-block;width:auto}
.covid-bar .covid-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.covid-bar .covid-dropdown-hover,.covid-bar .covid-dropdown-click{position:static;float:left}
.covid-bar .covid-button{white-space:normal}
.covid-bar-block .covid-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.covid-bar-block.covid-center .covid-bar-item{text-align:center}.covid-block{display:block;width:100%}

.covid-padding-small{padding:4px 8px!important}.covid-padding{padding:8px 16px!important}.covid-padding-large{padding:12px 24px!important}
.covid-padding-16{padding-top:16px!important;padding-bottom:16px!important}.covid-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.covid-padding-32{padding-top:32px!important;padding-bottom:32px!important}.covid-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.covid-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.covid-padding-top-64{padding-top:64px!important}.covid-padding-top-48{padding-top:48px!important}
.covid-padding-top-32{padding-top:32px!important}.covid-padding-top-24{padding-top:24px!important}
.covid-left{float:left!important}.covid-right{float:right!important}
.covid-button:hover{color:#000!important;background-color:#ccc!important}

.covid-top,.covid-bottom{position:fixed;width:100%;z-index:1}.covid-top{top:0}.covid-bottom{bottom:0}
.covid-left-align{text-align:left!important}.covid-right-align{text-align:right!important}
.covid-tiny{font-size:10px!important}.covid-small{font-size:12px!important}.covid-medium{font-size:15px!important}.covid-large{font-size:18px!important}